#mainpane{
	-fx-background-image: url("background.png");
    -fx-background-repeat: no-repeat;
}
#panel{
	-fx-padding : 5 2 2 0;
	-fx-spacing : 5 ;
}
Label:hover{
    -fx-padding : 1 0 -1 0; 
}
#TxtInput{
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0 , 0 0 2 0 ;
    -fx-background-radius: 0 ;
}
#TxtInput:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
    
}
#TxtOutput  {
    -fx-control-inner-background:  -fx-background ;  
    -fx-background-insets: 0 , 0 0 2 0 ; 
    -fx-background-radius: 0 ;
 }